@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-brand-darkBlue: #35383e;
  --color-brand-primary: #00adb5;
  --color-brand-darkGray: #818181;
  --color-brand-textGray: #9a9c9f;
  --color-brand-lightGray: #eeeeee;
  --color-brand-white: #ffffff;
  --color-brand-background: #f8f8f8;
  --color-brand-process: #ffaa04;
  --color-brand-danger: #ef4444;
}

body {
  font-family: var(--font-poppins);
  @apply bg-brand-background;
}
